:root {
  //text color
  --primary-color: '#94c973';
  --text-color: '#11181c';
  --text-color-light: '#fff';

  //background color
  --bg-body: '#efefef';
  --bg-white: '#fff';

  //border
  --border-color: '';

  //font family
  --font-family: 'Montserrat', sans-serif;
}
